<header class="kieslect-header">
  <div class="header-container">
    <div class="header-logo">
      <a href="/"><strong>KIESLECT</strong></a>
    </div>

    <nav class="main-nav">
      <ul class="nav-list">
        <li class="has-dropdown">
          <a href="/collections/smartwatches">Smartwatches</a>
          <ul class="dropdown">
            <li><a href="/collections/serie-amoled">Serie AMOLED</a></li>
            <li><a href="/collections/llamadas-bluetooth">Serie con Llamadas Bluetooth</a></li>
            <li><a href="/collections/deportiva-fitness">Serie Deportiva & Fitness</a></li>
            <li><a href="/collections/premium">Serie Premium</a></li>
            <li><a href="/collections/economica">Serie Económica</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="/collections/accesorios">Accesorios</a>
          <ul class="dropdown">
            <li><a href="/collections/correas">Correas</a></li>
          </ul>
        </li>
        <li><a href="/collections/novedades">Novedades</a></li>
        <li><a href="/collections/más-vendidos">Más Vendidos</a></li>
      </ul>
    </nav>

    <div class="secondary-nav">
      <a href="/pages/sobre-nosotros">Sobre Kieslect</a>
      <a href="/blogs/news">Blog</a>
      <a href="/pages/faq">Soporte</a>
      <a href="/pages/contacto" class="contact-btn">Contacto</a>
    </div>
  </div>
</header>