<section style="background:#000; color:#fff; padding:50px; text-align:center;">
  <h1>{{ section.settings.t }}</h1>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "text",
      "id": "t",
      "label": "T",
      "default": "Kieslect"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}